:root{
    --brightorange: #e38826;
    --darkcyan: #006970;
    --verydarkcyan: #004241;
    /* for paragraphs*/
    --transparentwhite: #ffffffbf;
    /*for background, headings and buttons*/
    --lightgray:#f2f2f2;
}

*:not(h1){
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    color: var(--transparentwhite);
}

.main{
    display: grid;
    grid-template-rows:repeat(3) ;
    width: 279px;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.sedan-card .sedan-icon, .suvs-card .suvs-icon, .luxury-card
.luxury-icon{
    width: 50px;
}
.sedan-card{
    background-color: #e38826;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    padding: 40px 30px 40px 40px ;
    width: 200px;
}

.sedan-card h1{
    font-family:'Big Shoulders Display', sans-serif ;
    color: var(--lightgray);
    font-weight: 700;
}
.sedan-card p{
    line-height: 1.5;
    font-size: 12px;
    padding: 0 20px 20px 0;
}

.sedan-card .btn{
    color: #e38826;
    background-color: #f2f2f2;
    border-radius: 20px;
    border-style: none;
    padding: 12px 22px;
}

.suvs-card{
    background-color: #006970;
    padding: 40px 30px 40px 40px ;
    line-height: 1.5;
    width: 200px;

}

.suvs-card h1{
    font-family:'Big Shoulders Display', sans-serif ;
    color: var(--lightgray);
    font-weight: 700;
}
.suvs-card p{
    line-height: 1.5;
    font-size: 12px;
    padding: 0 20px 20px 0;
}

.suvs-card .btn{
    color: #006970;
    background-color: #f2f2f2;
    border-radius: 20px;
    border-style: none;
    padding: 10px 25px;
}

.luxury-card{
    background-color: #004241;
    padding: 40px 30px 40px 40px ;
    line-height: 1.5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 200px;

}

.luxury-card h1{
    font-family:'Big Shoulders Display', sans-serif ;
    color: var(--lightgray);
    font-weight: 700;
}

.luxury-card p{
    line-height: 1.5;
    font-size: 13px;
}

.luxury-card .btn{
    color: #004241;
    background-color: #f2f2f2;
    border-radius: 20px;
    border-style: none;
    padding: 10px 25px;
}
@media screen and (min-width:480px){
    
    .main{
        width: auto;
        height: 400px;
        display: flex;
        margin: 100px;
        }

    .sedan-card{
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }

    .sedan-card p{
        width:80%;
        padding-top: 10px;
    }

    .luxury-card{
        border-bottom-left-radius:0 ;
        border-top-right-radius: 10px;
    }
    .sedan-card .btn{
        position: relative;
        top: 40px;
    }

    .suvs-card .btn{
        position: relative;
        top: 45px;
    }
    .luxury-card .btn{
        position: relative;
        top: 55px;
    }

    .sedan-card .btn:hover{
        cursor: pointer;
        background-color: inherit;
        border: 1px solid #f2f2f2;
        color: #ffffff;
    }

    .suvs-card .btn:hover{
        cursor: pointer;
        background-color: inherit;
        border: 1px solid #ffffff;
        color: #ffffff;
    }

    .luxury-card .btn:hover{
        cursor: pointer;
        background-color: inherit;
        border: 1px solid #ffffff;
        color: #ffffff;
    }
}